h1{font-size:26.66667px;letter-spacing:0.02em;line-height:32px;padding-bottom:5px;padding-top:3px;font-weight:200;padding-bottom:10px;}
span{font-size:14.66667px;letter-spacing:0.02em;line-height:20px;padding-bottom:0px;padding-top:0px;font-weight:400;}
#upgradePage{background-color:#8C8C8C;margin:0px;}
#upgradeFlyout{background-color:#FFFFFF;color:#000000;position:absolute;padding:22px 20px 85px 20px;width:100%;top:50%;margin-top:-120px;}
#centerBox{margin-left:auto;margin-right:auto;min-width:276px;max-width:680px;width:77.5%;}
