body {
    margin: 0;
}

.root {
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: no-repeat center center fixed;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.66s ease-out;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-size: 42pt;
    font-weight: 200;
    line-height: 1.1429;
    letter-spacing: 0px;
}

h2 {
    font-size: 20pt;
    font-weight: 200;
    line-height: 1.2;
}

h3 {
    font-size: 11pt;
    font-weight: 600;
    line-height: 1.3636;
}

h4 {
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.3636;
}

h5 {
    font-size: 11pt;
    font-weight: 300;
    line-height: 1.3636;
}

h6 {
    font-size: 9pt;
    font-weight: 400;
    line-height: 1.6667;
}

.invisible {
    opacity: 0;
    pointer-events: none !important;
}

.hidden {
    display: none;
}

.immersive {
    font-size: 11pt;
}