.panelView-viewport {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 10px;
    padding-bottom: 88px;
}

.panelView-canvas {
    display: grid;
    height: 100%;
    white-space: nowrap;
    grid-template-rows: 100%;
}

.panelView-panel {
    box-sizing: border-box;
    height: 100%;
    margin-right: 70px;
    position: relative;
    overflow: hidden;
    white-space: normal;
}

.panelView-panel:hover {
    outline: 3px solid #f6e2ca;
}

.panelView-snapActivePanel:hover,.panelView-inactivePanel:hover {
    cursor: default;
    outline: none;
}

.panelView-paddingPanel {
    width: 10px;
    background-color: transparent;
}

.profileLanding-contactPanel {
    white-space: nowrap;
}

.profileLanding-panelTitle {
    font-weight: 200;
    font-size: 26.66667px;
    letter-spacing: 0.02em;
    line-height: 32px;
    padding-bottom: 5px;
    padding-top: 3px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panelTitle-link {
    grid-column: 1;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto;
}

.panelTitle-link:hover .panelTitle-link-text,.panelTitle-link:hover .panelTitle-link-chevron {
    color: rgba(0, 0, 0, 0.8);
}

.panelTitle-link.pressed .panelTitle-link-text,.panelTitle-link.pressed .panelTitle-link-chevron {
    color: rgba(0, 0, 0, 0.4);
}

.panelTitle-link-text {
    grid-column: 1;
    color: #000000;
    display: block;
}

.panelTitle-link-chevron {
    grid-column: 2;
    justify-content: center;
    font-family: "Segoe UI Symbol","Segoe UI",Tahoma,Verdana,Arial,sans-serif;
    font-size: 21.33333px;
    letter-spacing: 0.02em;
    line-height: 27px;
    padding-bottom: 2px;
    padding-top: 1px;
    padding-left: 12px;
    padding-right: 12px;
    color: #000000;
    display: block;
}

.profileLanding-panelContent {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    box-sizing: border-box;
    height: calc((100% - 10px));
    margin-top: 10px;
}

.profileLanding-panelContent-left {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 40px auto auto 1fr auto;
    grid-template-columns: 100%;
    width: 460px;
}

.profileLanding-panelContent-right {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 40px auto 1fr auto;
    grid-template-columns: 100%;
    width: 330px;
}

.profileLanding-panelContent-left-background {
    grid-row: 2;
    grid-column: 1;
    grid-row-end: span 4;
    background-color: #1c1c1c;
}

.profileLanding-panelContent-right-background {
    grid-row: 2;
    grid-column: 1;
    grid-column-end: span 3;
    background-color: #d24625;
}

.meLandingPage .profileLanding-panelContent {
    grid-template-columns: 1fr;
    grid-template-rows: 350px 1fr;
    width: 460px;
}

.meLandingPage .profileLanding-panelContent-right {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 100%;
    width: 460px;
}

.meLandingPage .profileLanding-panelContent-right-background {
    grid-row: 1;
}

.profileLanding-identityControl {
    grid-row: 1;
    grid-column: 1;
    grid-row-end: span 2;
    justify-items: start;
    align-items: start;
    display: inline-block;
    white-space: normal;
    margin-left: 120px;
    margin-right: 30px;
}

.contactPanel-ic {
    position: relative;
}

.profileLanding-identityControl-flyout.win-leftalign.win-flyout {
    margin-left: -3px;
    margin-top: 7px;
}

.profileLanding-networks {
    font-weight: 300;
    font-size: 14.66667px;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 15px;
}

.profileLanding-GAL {
    grid-row: 3;
    grid-column: 1;
    margin-left: 120px;
    margin-top: 15px;
}

.gal-primaryField {
    font-size: 26.66667px;
    letter-spacing: 0.02em;
    line-height: 32px;
    padding-top: 3px;
    font-weight: 200;
    white-space: normal;
    word-wrap: break-word;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 5px;
    width: 300px;
    max-height: 64px;
    overflow: hidden;
}

.gal-secondaryField {
    font-size: 14.66667px;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 1px;
    width: 300px;
}

.profileLanding-contact {
    grid-row: 2;
    grid-column: 1;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.profileLanding-contactActions {
    grid-row: 5;
    grid-column: 1;
    align-items: start;
    position: relative;
    vertical-align: bottom;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 115px;
}

.contactActions-button .win-commandimage {
    display: block;
    text-align: center;
    color: #ffffff;
}

.contactActions-button:active .win-commandimage,.contactActions-button:hover:active .win-commandimage {
    color: #1c1c1c;
}

.contactActions-button,.contactActions-button:hover,.contactActions-button:active,.contactActions-button:hover:active {
    display: block;
    position: relative;
    border-style: none;
    min-width: 0px;
    padding: 5px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: transparent;
}

.contactActions-button .win-commandring {
    background-color: #1c1c1c;
    border-color: #ffffff;
    margin: 0px;
}

.contactActions-button:hover .win-commandring {
    background-color: rgba(255, 255, 255, 0.13);
    border-color: #ffffff;
}

.contactActions-button:active .win-commandring,.contactActions-button:hover:active .win-commandring {
    background-color: #ffffff;
    border-color: #ffffff;
}

.contactActions-button.contactActions-checkedButton .win-commandimage {
    display: block;
    color: #1c1c1c;
}

.contactActions-button:hover.contactActions-checkedButton .win-commandimage {
    color: #ffffff;
}

.contactActions-button:active.contactActions-checkedButton .win-commandimage,.contactActions-button:hover:active.contactActions-checkedButton .win-commandimage {
    color: #ffffff;
}

.contactActions-button.contactActions-checkedButton .win-commandring {
    background-color: #ffffff;
    border-color: #ffffff;
    margin: 0px;
}

.contactActions-button:hover.contactActions-checkedButton .win-commandring {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #ffffff;
}

.contactActions-button:active.contactActions-checkedButton .win-commandring,.contactActions-button:hover:active.contactActions-checkedButton .win-commandring {
    background-color: #1c1c1c;
    border-color: #ffffff;
}

.contactActions-text {
    color: #ffffff;
    font-weight: 300;
    font-size: 21.33333px;
    letter-spacing: 0.02em;
    line-height: 27px;
    padding-bottom: 2px;
    padding-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-left: 10px;
}

.contactActions-tooltip {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
}

.meLandingPage .profileLanding-contact {
    grid-row: 1;
    grid-column: 1;
    align-items: start;
    padding-left: 110px;
    min-width: 250px;
    max-width: 310px;
}

.contactCommand {
    height: 60px;
    width: 100%;
    white-space: nowrap;
    display: flex;
}

.contactCommand-content {
    flex: 1 1 auto;
    display: flex;
    box-sizing: border-box;
    height: 100%;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    color: #ffffff;
}

.contactCommand-icon {
    margin-top: 5px;
    width: 36px;
    height: 36px;
    margin-right: 11px;
    font-family: "Segoe UI Symbol","Segoe UI",Tahoma,Verdana,Arial,sans-serif;
    font-size: 14pt;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

.contactCommand-body {
    flex: 1 1 auto;
    overflow: hidden;
}

.contactCommand-title {
    font-weight: 300;
    font-size: 21.33333px;
    letter-spacing: 0.02em;
    line-height: 27px;
    padding-bottom: 2px;
    padding-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contactCommand-value {
    font-weight: 300;
    font-size: 14.66667px;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contactCommand-disambiguator {
    font-family: "Segoe UI Symbol","Segoe UI",Tahoma,Verdana,Arial,sans-serif;
    font-size: 8pt;
    color: #ffffff;
    padding-top: 11px;
    font-size: 16pt;
    vertical-align: top;
    text-align: center;
    width: 30px;
    box-sizing: border-box;
    height: 100%;
}

.moreInfo-link {
    grid-row: 4;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    position: absolute;
    margin-left: 25px;
    bottom: 37px;
    padding: 5px;
    color: #ffffff;
}

.moreInfo-link:hover .moreInfo-link-text,.moreInfo-link:hover .moreInfo-link-chevron {
    color: rgba(255, 255, 255, 0.8);
}

.moreInfo-link.pressed .moreInfo-link-text,.moreInfo-link.pressed .moreInfo-link-chevron {
    color: rgba(255, 255, 255, 0.4);
}

.moreInfo-link-text {
    grid-column: 1;
    justify-items: center;
    font-size: 14.66667px;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: #ffffff;
    display: block;
}

.moreInfo-link-chevron {
    grid-column: 2;
    justify-items: center;
    font-family: "Segoe UI Symbol","Segoe UI",Tahoma,Verdana,Arial,sans-serif;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14.66667px;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: #ffffff;
    display: block;
}

.meLandingPage .moreInfo-link {
    grid-row: 2;
    margin-left: 115px;
    margin-top: 15px;
}

.contactCommand:hover .contactCommand-content,.contactCommand:hover:not(.contactCommand-menuOpen):not(.pressed) .contactCommand-disambiguator,.contactCommand.pressed .contactCommand-content,.contactCommand-menuOpen .contactCommand-content,.contactCommand.pressed .contactCommand-disambiguator {
    background-color: rgba(255, 255, 255, 0.13);
}

.contactCommand:hover:not(.contactCommand-menuOpen):not(.pressed) .contactCommand-content:hover,.contactCommand:hover:not(.contactCommand-menuOpen):not(.pressed) .contactCommand-disambiguator:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.contactCommand .contactCommand-content.pressed,.contactCommand .contactCommand-disambiguator.pressed,.contactCommand-menuOpen .contactCommand-disambiguator {
    background-color: white;
    color: #d24625;
}

@media screen and (-ms-high-contrast) {
    .contactCommand:hover:not(.pressed) .contactCommand-content,.contactCommand:hover:not(.pressed) .contactCommand-disambiguator,.contactCommand.pressed .contactCommand-content,.contactCommand.pressed .contactCommand-disambiguator,.contactCommand-menuOpen .contactCommand-content,.contactCommand-menuOpen .contactCommand-disambiguator {
        outline: 2px solid WindowText;
    }

    .contactCommand:not(.contactCommand-menuOpen):not(.pressed) .contactCommand-content:hover,.contactCommand:not(.contactCommand-menuOpen):not(.pressed) .contactCommand-disambiguator:hover,.contactCommand-content.pressed,.contactCommand-disambiguator.pressed,.contactCommand-menuOpen .contactCommand-disambiguator {
        background-color: Highlight;
        color: HighlightText;
    }

    .contactActions-button:hover,.contactActions-button.pressed {
        outline: 2px solid WindowText;
        background-color: Highlight;
        color: HighlightText;
    }

    .contactActions-button.contactActions-checkedButton .win-commandimage {
        color: ButtonFace;
    }

    .contactActions-button:hover .win-commandimage,.contactActions-button.pressed .win-commandimage,.contactActions-button:hover.contactActions-checkedButton .win-commandimage,.contactActions-button:active.contactActions-checkedButton .win-commandimage,.contactActions-button:hover:active.contactActions-checkedButton .win-commandimage {
        color: HighlightText;
    }

    .contactActions-button.contactActions-checkedButton .win-commandring {
        background-color: ButtonText;
        border-color: ButtonText;
    }

    .contactActions-button:hover.contactActions-checkedButton .win-commandring,.contactActions-button:active.contactActions-checkedButton .win-commandring,.contactActions-button:hover:active.contactActions-checkedButton .win-commandring {
        background-color: Highlight;
        border-color: ButtonText;
    }

    .landingPage-upsellButton {
        background-color: ButtonFace;
        color: ButtonText;
        border: 2px solid ButtonText;
    }

    .landingPage-upsellButton:hover {
        background-color: Highlight;
        color: HighlightText;
    }

    .landingPage-upsellButton:active {
        background-color: ButtonText;
        color: ButtonFace;
    }
}

.landingPage-upsellPanel {
    font-size: 14.66667px;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding-top: 0px;
    font-weight: 300;
    background: none;
    min-width: 200px;
    padding-top: 54px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 0px;
    color: #000000;
}

.landingPage-upsellSecondary {
    padding-top: 20px;
    padding-bottom: 16px;
}

.landingPage-upsellButton {
    font-size: 14.66667px;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 32px;
    font-weight: 600;
    min-width: 90px;
    height: 32px;
    color: #ffffff;
    background-color: #d24625;
    box-sizing: border-box;
    margin: 0px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    float: left;
}

.landingPage-upsellButton:hover {
    background-color: #d55e41;
}

.landingPage-upsellButton:active {
    background-color: #575757;
}

@media screen and (min-width: 320px) and (max-width:500px) {
    .panelView-viewport {
        overflow-x:hidden;
        overflow-y: auto;
        padding-top: 0px;
        padding-bottom: 28px;
    }

    .panelView-canvas {
        display: block;
        height: auto;
        margin-top: -20px;
    }

    .panelView-panel {
        display: block;
        height: auto;
        width: 100%;
        margin-top: 10px;
        overflow: hidden;
    }

    .panelView-paddingPanel {
        display: none;
    }

    .profileLanding-panelTitle {
        font-size: 14.66667px;
        letter-spacing: 0.02em;
        line-height: 20px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 15px;
    }

    .panelTitle-link-chevron {
        font-size: 14.66667px;
        letter-spacing: 0.02em;
        line-height: 20px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .profileLanding-panelContent {
        display: grid;
        grid-template-columns: 100% !important;
        grid-template-rows: auto auto !important;
        width: 100% !important;
    }

    .profileLanding-panelContent-left {
        grid-template-rows: 20px auto auto 21px;
        grid-template-columns: 140px 1fr;
        width: 100%;
    }

    .profileLanding-panelContent-right {
        grid-row: 2;
        grid-column: 1;
        grid-template-rows: auto 41px !important;
        grid-template-columns: 100% !important;
        width: 100% !important;
    }

    .profileLanding-panelContent-left-background {
        grid-row-end: span 3;
        grid-column-end: span 2;
    }

    .profileLanding-panelContent-right-background {
        grid-row: 1;
        grid-column: 1;
        grid-row-end: span 2;
    }

    .profileLanding-identityControl {
        grid-row: 1;
        grid-column: 1;
        grid-column-end: span 2;
        display: block;
        margin-left: 20px;
    }

    .profileLanding-networks {
        padding-top: 5px;
    }

    .profileLanding-GAL {
        grid-row: 3;
        grid-column: 1;
        grid-column-end: span 2;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 6px;
    }

    .gal-jobTitleField {
        font-size: 14.66667px;
        letter-spacing: 0.02em;
        line-height: 20px;
        padding-bottom: 0px;
        padding-top: 0px;
        font-weight: 400;
    }

    .profileLanding-contact {
        grid-row: 1;
        grid-column: 1;
        display: block;
        padding-left: 10px !important;
        padding-right: 20px !important;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .profileLanding-contactActions {
        grid-row: 2;
        grid-column: 2;
        box-sizing: border-box;
        width: 100%;
        padding-top: 14px;
        padding-left: 10px;
        padding-right: 15px;
    }

    .profileLanding-contactActionContainer {
        float: right;
    }

    .contactActions-button,.contactActions-button:hover,.contactActions-button:active,.contactActions-button:hover:active {
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 0px;
    }

    .contactActions-text {
        display: none;
    }

    .contactActions-tooltip {
        display: block;
    }

    .moreInfo-link {
        grid-row: 2;
        margin-left: 15px !important;
        margin-bottom: 11px !important;
        bottom: 0px;
    }

    .landingPage-upsellPanel {
        margin-top: 35px;
        width: 100%;
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .landingPage-upsellSecondary {
        padding-top: 10px;
    }

    .meLandingPage .profileLanding-contact {
        align-items: stretch;
        max-width: none;
    }
}

@media screen and (orientation:portrait) and (min-width: 501px) and (min-height:1024px) {
    .profileLanding-panelContent {
        grid-template-columns:100%;
        grid-template-rows: auto 1fr !important;
        width: 330px !important;
        margin-left: 120px;
    }

    .profileLanding-panelContent-left {
        width: 330px !important;
        height: 480px;
    }

    .meLandingPage .profileLanding-panelContent-left {
        grid-template-rows: 40px auto 1fr !important;
        height: 190px !important;
    }

    .profileLanding-panelContent-right {
        grid-row: 2;
        grid-column: 1;
        grid-template-rows: auto auto auto 1fr;
        grid-template-columns: 100%;
        width: 330px !important;
    }

    .profileLanding-panelContent-right-background {
        grid-row: 1 / 5;
        grid-column: 1;
    }

    .profileLanding-identityControl,.profileLanding-GAL {
        margin-left: 30px !important;
    }

    .profileLanding-contactActions {
        padding-left: 25px;
    }

    .moreInfo-link {
        margin-top: 20px !important;
        margin-left: 25px !important;
    }

    .meLandingPage .profileLanding-contact {
        padding-left: 20px;
        padding-right: 20px;
        align-items: stretch;
    }
}

@media screen and (orientation:portrait) and (min-width: 501px) and (min-height:1024px) and (max-height:1365px) {
    .profileLanding-panelContent-left {
        grid-template-rows:40px auto auto 26px;
        grid-template-columns: 190px 1fr;
        height: auto;
    }

    .profileLanding-panelContent-left-background,.profileLanding-identityControl,.profileLanding-GAL {
        grid-column-end: span 2;
    }

    .profileLanding-contactActions {
        grid-row: 2;
        grid-column: 2;
        box-sizing: border-box;
        width: 100%;
        padding-top: 14px;
        padding-left: 5px;
        padding-right: 15px;
    }

    .profileLanding-contactActionContainer {
        float: right;
    }

    .contactActions-button,.contactActions-button:hover,.contactActions-button:active,.contactActions-button:hover:active {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 0px;
    }

    .contactActions-text {
        display: none;
    }

    .contactActions-tooltip {
        display: block;
    }
}
