#todayPage {
    direction: ltr
}

#todayPage:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    direction: rtl
}

.platformCluster {
    margin-right: 80px
}

.platformCluster:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    margin-left: 80px
}

.platformHero {
    margin-right: 40px
}

.platformHero:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    margin-left: 40px
}

.leadStoryLayoutImage {
    width: auto;
    height: 100%;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

.leadStoryLayoutImage .panoHeroOverlay {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row-align: end;
    -ms-grid-column-align: start;
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: flex-end;
    justify-content: flex-start
}

.panoHeroOverlay {
    overflow: hidden
}

.panoHeroTextContainer {
    margin-bottom: 0;
    color: #fff
}

.panoHeroTextContainer:hover {
    -ms-high-contrast-adjust: none;
    color: rgba(255, 255, 255, .8)
}

.panoHeroTextContainer:hover .panoHeroPublishTime {
    -ms-high-contrast-adjust: none;
    color: rgba(153, 153, 153, .8)
}

.hiddenButton {
    display: none
}

@media screen and (-ms-high-contrast:black-on-white) {
    .panoHeroTextContainer:hover {
        color: rgba(0, 0, 0, .6)
    }
}

.panoHeroTextContainer p {
    margin: 0;
    padding: 0
}

.leadStoryLayoutImage .breakingNewsBar {
    background-color: #b82329;
    display: inline-block;
    padding-left: 3px;
    padding-right: 5px
}

.leadStoryLayoutImage .breakingNewsBar:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    padding-left: 5px;
    padding-right: 3px
}

.leadStoryLayoutImage .breakingNewsText {
    padding-top: 0;
    padding-bottom: 0;
    font: 700 14.66667px/20px "Segoe UI", Tahoma;
    letter-spacing: .02em;
    color: #fff;
    text-transform: uppercase
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(kn, ta, pa) {
    padding-top: 3px;
    padding-bottom: 3px
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(ja, te, km) {
    padding-bottom: 2px
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(si) {
    padding-bottom: 1px;
    font: 700 16.33px/19px "Iskoola Pota", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm) {
    font: 600 15.33px/20px "Segoe UI", Tahoma
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(zh-hans) {
    font: 700 15px/26px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(zh-hant) {
    font: 700 15px/26px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(gu, te, as, bn-BD, bn-IN) {
    font: 700 14.66667px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(he) {
    font: 600 14.66667px/20px "Segoe UI", Tahoma
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(hi, mr, knn-Deva, ne, kok, or) {
    font: 700 14.66px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(ja) {
    font: 700 15.33px/24px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(kn) {
    font: 700 14.66px/20px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(ko) {
    font: 700 14.66667px/24px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(ml) {
    font: 700 14.5px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(ta) {
    font: 700 14.66px/20px "Latha", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(th) {
    font: 700 14.66667px/20px "Leelawadee", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(am, ti) {
    font: 700 14.66667px/20px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(km) {
    font: 700 15.5px/20px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.leadStoryLayoutImage .breakingNewsText:-ms-lang(pa) {
    font: 700 14.66px/20px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroTitle {
    padding-top: 0;
    padding-bottom: 5px;
    letter-spacing: 0;
    font: 400 56px/74px "Segoe UI", Tahoma;
    margin-top: 0;
    overflow: hidden;
    margin-bottom: 0
}

.leadStoryLayoutImage .panoHeroTitle {
    padding-top: 5px;
    padding-bottom: 11px
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(zh-hant, he, ja, ko, hy, el) {
    padding-top: 0
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(gu) {
    padding-top: 1px;
    padding-bottom: 4px;
    font: 400 54px/74px "Nirmala UI", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(kn, pa) {
    padding-top: 4px;
    padding-bottom: 2.75px
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(ta) {
    padding-top: 15px;
    padding-bottom: 0;
    font: 400 56px/65px "Latha", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .panoHeroTitle {
    font: 400 56px/64px Cambria, "Times New Roman"
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(zh-hans) {
    font: 400 56px/74px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(zh-hant) {
    font: 400 56px/74px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(zh-hk) {
    font: 400 56px/64px "Segoe UI", Tahoma
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(hi, mr, knn-Deva, ne, kok, ml, te, as, bn-BD, bn-IN, or) {
    font: 400 56px/74px "Nirmala UI", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(ja) {
    font: 400 56px/74px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(kn) {
    font: 400 54px/74px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(ko) {
    font: 400 56px/74px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(th) {
    font: 400 56px/74px "Leelawadee", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(am, ti) {
    font: 400 56px/74px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(km) {
    font: 400 56px/74px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(pa) {
    font: 400 54px/74px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroTitle:-ms-lang(si) {
    font: 400 56px/74px "Iskoola Pota", "Segoe UI", sans-serif
}

@media screen and (max-width:672px) {
    .leadStoryLayoutImage .panoHeroTitle {
        letter-spacing: .02em
    }

    .leadStoryLayoutImage .panoHeroTitle {
        padding-top: 7px
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, bg, el, ru, sr-Cyrl-CS, sr-Cyrl-RS, uk, sr-Cyrl-BA, kk, ky-Cyrl, tt-Cyrl, be, tg-Cyrl, mn-cyrl, zh-hans, he, hi, mr, knn-Deva, ne, kok, ja, ko, ml, te, th, am, ti, hy, as, bn-BD, bn-IN, ka, km, or, si, el) {
        padding-top: 0
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(zh-hant) {
        padding-top: 0;
        font: 400 42px/57.8125px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(gu) {
        padding-top: 2px;
        font: 400 41px/57.8125px "Nirmala UI", "Segoe UI", sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(ta) {
        padding-top: 24px;
        padding-bottom: 0;
        font: 400 42px/50.78125px "Latha", "Segoe UI", sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle {
        padding-bottom: 3px
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, bg, el, ru, sr-Cyrl-CS, sr-Cyrl-RS, uk, sr-Cyrl-BA, kk, ky-Cyrl, tt-Cyrl, be, tg-Cyrl, mn-cyrl, zh-hans, zh-hant, gu, he, hi, mr, knn-Deva, ne, kok, ja, ko, ml, te, th, am, ti, hy, as, bn-BD, bn-IN, ka, km, or, si, el) {
        padding-bottom: 2px
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(kn, pa) {
        padding-bottom: 1px
    }

    .leadStoryLayoutImage .panoHeroTitle {
        letter-spacing: 0;
        font: 400 42px/50px Cambria, "Times New Roman"
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, bg, el, ru, sr-Cyrl-CS, sr-Cyrl-RS, uk, sr-Cyrl-BA, kk, ky-Cyrl, tt-Cyrl, be, tg-Cyrl, mn-cyrl, he, hy, ka, el) {
        font: 400 42px/57.8125px "Segoe UI", Tahoma
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(zh-hans) {
        font: 400 42px/57.8125px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(zh-hk) {
        font: 400 42px/50px "Segoe UI", Tahoma
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(hi, mr, knn-Deva, ne, kok, ml, te, as, bn-BD, bn-IN, or) {
        font: 400 42px/57.8125px "Nirmala UI", "Segoe UI", sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(ja) {
        font: 400 42px/57.8125px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(kn) {
        font: 400 41px/72.85156px "Segoe UI", "Tunga", Tahoma, sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(ko) {
        font: 400 42px/57.8125px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(th) {
        font: 400 42px/57.8125px "Leelawadee", "Segoe UI", sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(am, ti) {
        font: 400 42px/57.8125px "Segoe UI", "Ebrima", Tahoma, sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(km) {
        font: 400 42px/57.8125px "Khmer UI", "Segoe UI", Tahoma, sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(pa) {
        font: 400 41px/72.85156px "Segoe UI", "Raavi", Tahoma, sans-serif
    }

    .leadStoryLayoutImage .panoHeroTitle:-ms-lang(si) {
        font: 400 42px/57.8125px "Iskoola Pota", "Segoe UI", sans-serif
    }
}

.leadStoryLayoutImage .panoHeroTitle p {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0;
    color: inherit
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle {
    padding-top: 0;
    padding-bottom: 5px;
    font: 700 56px/55px "Segoe UI", Tahoma;
    letter-spacing: 0;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    text-transform: none
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle {
    padding-top: 5px;
    padding-bottom: 11px
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(zh-hant, he, ja, ko, hy, el) {
    padding-top: 0
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(gu) {
    padding-top: 1px;
    padding-bottom: 4px;
    font: 700 54px/55px "Nirmala UI", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(kn, pa) {
    padding-top: 4px;
    padding-bottom: 2.75px
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ta) {
    padding-top: 15px;
    padding-bottom: 0;
    font: 700 56px/55px "Latha", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    font: 600 56px/55px "Segoe UI", Tahoma
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(zh-hans) {
    font: 700 56px/55px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(zh-hant) {
    font: 700 56px/55px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(hi, mr, knn-Deva, ne, kok, ml, te, as, bn-BD, bn-IN, or) {
    font: 700 56px/55px "Nirmala UI", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ja) {
    font: 700 56px/55px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(kn) {
    font: 700 54px/55px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ko) {
    font: 700 56px/55px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(th) {
    font: 700 56px/55px "Leelawadee", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(am, ti) {
    font: 700 56px/55px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(km) {
    font: 700 56px/55px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(pa) {
    font: 700 54px/55px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(si) {
    font: 700 56px/55px "Iskoola Pota", "Segoe UI", sans-serif
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle {
    text-transform: uppercase
}

.leadStoryLayoutImage .panoHeroBreakingNewsTitle p {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0;
    color: inherit
}

@media screen and (max-width:672px) {
    .breakingNewsHero .panoHeroBreakingNewsTitle {
        padding-top: 0;
        padding-bottom: 2px;
        font: 700 42px/57.8125px "Nirmala UI", "Segoe UI", sans-serif;
        letter-spacing: .02em;
        line-height: 44px
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle {
        padding-top: 7px
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(zh-hant) {
        padding-top: 0;
        font: 700 42px/57.8125px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(gu) {
        padding-top: 2px;
        font: 700 41px/57.8125px "Nirmala UI", "Segoe UI", sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(ta) {
        padding-top: 24px;
        padding-bottom: 0;
        font: 700 42px/50.78125px "Latha", "Segoe UI", sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle {
        padding-bottom: 3px;
        font: 700 42px/50px "Segoe UI", Tahoma
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(kn, pa) {
        padding-bottom: 1px
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
        font: 600 42px/57.8125px "Segoe UI", Tahoma
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(bg, el, ru, sr-Cyrl-CS, sr-Cyrl-RS, uk, sr-Cyrl-BA, kk, ky-Cyrl, tt-Cyrl, be, tg-Cyrl, mn-cyrl, hy, ka, el) {
        font: 700 42px/57.8125px "Segoe UI", Tahoma
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(zh-hans) {
        font: 700 42px/57.8125px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(ja) {
        font: 700 42px/57.8125px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(kn) {
        font: 700 41px/72.85156px "Segoe UI", "Tunga", Tahoma, sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(ko) {
        font: 700 42px/57.8125px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(th) {
        font: 700 42px/57.8125px "Leelawadee", "Segoe UI", sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(am, ti) {
        font: 700 42px/57.8125px "Segoe UI", "Ebrima", Tahoma, sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(km) {
        font: 700 42px/57.8125px "Khmer UI", "Segoe UI", Tahoma, sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(pa) {
        font: 700 41px/72.85156px "Segoe UI", "Raavi", Tahoma, sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle:-ms-lang(si) {
        font: 700 42px/57.8125px "Iskoola Pota", "Segoe UI", sans-serif
    }

    .breakingNewsHero .panoHeroBreakingNewsTitle {
        letter-spacing: 0
    }
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle {
    padding-top: 3px;
    padding-bottom: 8px;
    font: 700 92px/90px "Nirmala UI", "Segoe UI", sans-serif;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    text-transform: none
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle {
    font: 700 92px/90px "Segoe UI", Tahoma
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    font: 600 92px/90px "Segoe UI", Tahoma
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(zh-hans) {
    font: 700 92px/90px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(zh-hant) {
    font: 700 92px/90px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ja) {
    font: 700 92px/90px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(kn) {
    font: 700 92px/90px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ko) {
    font: 700 92px/90px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ta) {
    font: 700 92px/90px "Latha", "Segoe UI", sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(th) {
    font: 700 92px/90px "Leelawadee", "Segoe UI", sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(am, ti) {
    font: 700 92px/90px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(km) {
    font: 700 92px/90px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(pa) {
    font: 700 92px/90px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(si) {
    font: 700 92px/90px "Iskoola Pota", "Segoe UI", sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle {
    text-transform: uppercase
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p {
    padding-top: 3px;
    padding-bottom: 8px;
    font: 700 92px/90px "Nirmala UI", "Segoe UI", sans-serif;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: none
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p {
    font: 700 92px/90px "Segoe UI", Tahoma
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    font: 600 92px/90px "Segoe UI", Tahoma
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(zh-hans) {
    font: 700 92px/90px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(zh-hant) {
    font: 700 92px/90px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(ja) {
    font: 700 92px/90px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(kn) {
    font: 700 92px/90px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(ko) {
    font: 700 92px/90px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(ta) {
    font: 700 92px/90px "Latha", "Segoe UI", sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(th) {
    font: 700 92px/90px "Leelawadee", "Segoe UI", sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(am, ti) {
    font: 700 92px/90px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(km) {
    font: 700 92px/90px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(pa) {
    font: 700 92px/90px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(si) {
    font: 700 92px/90px "Iskoola Pota", "Segoe UI", sans-serif
}

.breakingNewsHeroLarge.leadStoryLayoutImage .panoHeroBreakingNewsTitle p {
    text-transform: uppercase
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsBar {
    background-color: #f4c606;
    display: inline-block;
    padding-left: 3px;
    padding-right: 5px
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsBar:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    padding-left: 5px;
    padding-right: 3px
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText {
    padding-top: 0;
    padding-bottom: 0;
    font: 700 14.66667px/20px "Segoe UI", Tahoma;
    letter-spacing: .02em;
    color: #000;
    text-transform: uppercase
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(kn, ta, pa) {
    padding-top: 3px;
    padding-bottom: 3px
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(ja, te, km) {
    padding-bottom: 2px
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(si) {
    padding-bottom: 1px;
    font: 700 16.33px/19px "Iskoola Pota", "Segoe UI", sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm) {
    font: 600 15.33px/20px "Segoe UI", Tahoma
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(zh-hans) {
    font: 700 15px/26px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(zh-hant) {
    font: 700 15px/26px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(gu, te, as, bn-BD, bn-IN) {
    font: 700 14.66667px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(he) {
    font: 600 14.66667px/20px "Segoe UI", Tahoma
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(hi, mr, knn-Deva, ne, kok, or) {
    font: 700 14.66px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(ja) {
    font: 700 15.33px/24px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(kn) {
    font: 700 14.66px/20px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(ko) {
    font: 700 14.66667px/24px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(ml) {
    font: 700 14.5px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(ta) {
    font: 700 14.66px/20px "Latha", "Segoe UI", sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(th) {
    font: 700 14.66667px/20px "Leelawadee", "Segoe UI", sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(am, ti) {
    font: 700 14.66667px/20px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(km) {
    font: 700 15.5px/20px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .breakingNewsText:-ms-lang(pa) {
    font: 700 14.66px/20px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle {
    padding-top: 0;
    padding-bottom: 5px;
    font: 700 56px/64px Cambria, "Times New Roman";
    letter-spacing: 0;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle {
    padding-top: 5px;
    padding-bottom: 11px
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(zh-hant, he, ja, ko, hy, el) {
    padding-top: 0
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(gu) {
    padding-top: 1px;
    padding-bottom: 4px;
    font: 700 54px/74px "Shruti", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(kn, pa) {
    padding-top: 4px;
    padding-bottom: 2.75px
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ta) {
    padding-top: 15px;
    padding-bottom: 0;
    font: 700 56px/65px "Vijaya", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm) {
    font: 600 56px/74px "Sakkal Majalla", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(bg, el, ru, sr-Cyrl-CS, sr-Cyrl-RS, uk, sr-Cyrl-BA, kk, ky-Cyrl, tt-Cyrl, be, tg-Cyrl, mn-cyrl, el) {
    font: 700 56px/74px Cambria, "Times New Roman"
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(zh-hans) {
    font: 700 56px/74px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(zh-hant) {
    font: 700 56px/74px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(he) {
    font: 600 56px/74px "Times New Roman", "Miriam Fixed", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(hi, mr, knn-Deva, ne, kok) {
    font: 700 56px/74px "Kokila", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ja) {
    font: 700 56px/74px "Segoe UI", "Meiryo", Tahoma, Verdana, Arial, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(kn) {
    font: 700 54px/74px "Tunga", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ko) {
    font: 700 56px/74px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ml) {
    font: 700 56px/74px "Kartika", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(te) {
    font: 700 56px/74px "Vani", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(th) {
    font: 700 56px/74px "Angsana New", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(am, ti) {
    font: 700 56px/74px "Nyala", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(hy) {
    font: 700 56px/74px "Sylfaen", Cambria, "Times New Roman", serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(as, bn-BD, bn-IN) {
    font: 700 56px/74px "Shonar Banglar", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(ka) {
    font: 700 56px/74px "Sylfaen", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(km) {
    font: 700 56px/74px "DaunPenh", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(or) {
    font: 700 56px/74px "Kalinga", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(pa) {
    font: 700 54px/74px "Raavi", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle:-ms-lang(si) {
    font: 700 56px/74px "Iskoola Pota", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p {
    padding-top: 0;
    padding-bottom: 5px;
    font: 700 56px/64px Cambria, "Times New Roman";
    letter-spacing: 0;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p {
    padding-top: 5px;
    padding-bottom: 11px
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(zh-hant, he, ja, ko, hy, el) {
    padding-top: 0
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(gu) {
    padding-top: 1px;
    padding-bottom: 4px;
    font: 700 54px/74px "Shruti", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(kn, pa) {
    padding-top: 4px;
    padding-bottom: 2.75px
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(ta) {
    padding-top: 15px;
    padding-bottom: 0;
    font: 700 56px/65px "Vijaya", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm) {
    font: 600 56px/74px "Sakkal Majalla", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(bg, el, ru, sr-Cyrl-CS, sr-Cyrl-RS, uk, sr-Cyrl-BA, kk, ky-Cyrl, tt-Cyrl, be, tg-Cyrl, mn-cyrl, el) {
    font: 700 56px/74px Cambria, "Times New Roman"
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(zh-hans) {
    font: 700 56px/74px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(zh-hant) {
    font: 700 56px/74px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(he) {
    font: 600 56px/74px "Times New Roman", "Miriam Fixed", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(hi, mr, knn-Deva, ne, kok) {
    font: 700 56px/74px "Kokila", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(ja) {
    font: 700 56px/74px "Segoe UI", "Meiryo", Tahoma, Verdana, Arial, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(kn) {
    font: 700 54px/74px "Tunga", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(ko) {
    font: 700 56px/74px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(ml) {
    font: 700 56px/74px "Kartika", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(te) {
    font: 700 56px/74px "Vani", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(th) {
    font: 700 56px/74px "Angsana New", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(am, ti) {
    font: 700 56px/74px "Nyala", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(hy) {
    font: 700 56px/74px "Sylfaen", Cambria, "Times New Roman", serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(as, bn-BD, bn-IN) {
    font: 700 56px/74px "Shonar Banglar", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(ka) {
    font: 700 56px/74px "Sylfaen", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(km) {
    font: 700 56px/74px "DaunPenh", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(or) {
    font: 700 56px/74px "Kalinga", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(pa) {
    font: 700 54px/74px "Raavi", Cambria, serif
}

.developingStoryHero.leadStoryLayoutImage .panoHeroBreakingNewsTitle p:-ms-lang(si) {
    font: 700 56px/74px "Iskoola Pota", Cambria, serif
}

.panoHeroSubContainer {
    margin-top: 0;
    display: -ms-flexbox;
    box-sizing: border-box;
    -ms-flex-direction: row;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 12px;
    display: flex;
    flex-direction: row
}

.panoHeroSubContainer .heroFavicon {
    margin-top: 2px
}

.panoHeroLogoContainer {
    display: -ms-flexbox;
    -ms-flex-align: center;
    display: flex;
    align-items: center
}

.panoHeroSourceLogo {
    width: 39px;
    color: red
}

.panoHeroSourceLogo {
    margin-right: 8px
}

.panoHeroSourceLogo:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    margin-left: 8px
}

.panoHeroTextContainer .panoHeroPublishTime {
    padding-top: 0;
    padding-bottom: 0;
    font: 700 12px/20px "Nirmala UI", "Segoe UI", sans-serif;
    letter-spacing: .02em;
    color: #999
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(kn, ta, pa) {
    padding-top: 2px
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(zh-hant, km) {
    padding-bottom: 1px
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(ja, kn, ta, pa, si) {
    padding-bottom: 2px
}

.panoHeroTextContainer .panoHeroPublishTime {
    font: 700 12px/20px "Segoe UI", Tahoma
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    font: 600 12px/20px "Segoe UI", Tahoma
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(zh-hans) {
    font: 700 12.66px/20px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(zh-hant) {
    font: 700 13.66px/19px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(ja) {
    font: 700 12.66px/18px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(kn) {
    font: 700 12px/20px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(ko) {
    font: 700 12px/20px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(ta) {
    font: 700 12px/20px "Latha", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(th) {
    font: 700 12px/20px "Leelawadee", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(am, ti) {
    font: 700 12px/20px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(hy, ka) {
    font: 700 12.5px/20px "Segoe UI", Tahoma
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(km) {
    font: 700 12.66px/20px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(pa) {
    font: 700 12px/20px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroPublishTime:-ms-lang(si) {
    font: 700 14.5px/18px "Iskoola Pota", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSource {
    padding-top: 0;
    padding-bottom: 0;
    font: 700 12px/20px "Nirmala UI", "Segoe UI", sans-serif;
    letter-spacing: .02em
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(kn, ta, pa) {
    padding-top: 2px
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(zh-hant, km) {
    padding-bottom: 1px
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(ja, kn, ta, pa, si) {
    padding-bottom: 2px
}

.panoHeroTextContainer .panoHeroSource {
    font: 700 12px/20px "Segoe UI", Tahoma
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    font: 600 12px/20px "Segoe UI", Tahoma;
    margin-left: 5px
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(zh-hans) {
    font: 700 12.66px/20px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(zh-hant) {
    font: 700 13.66px/19px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(ja) {
    font: 700 12.66px/18px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(kn) {
    font: 700 12px/20px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(ko) {
    font: 700 12px/20px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(ta) {
    font: 700 12px/20px "Latha", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(th) {
    font: 700 12px/20px "Leelawadee", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(am, ti) {
    font: 700 12px/20px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(hy, ka) {
    font: 700 12.5px/20px "Segoe UI", Tahoma
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(km) {
    font: 700 12.66px/20px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(pa) {
    font: 700 12px/20px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSource:-ms-lang(si) {
    font: 700 14.5px/18px "Iskoola Pota", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSource {
    margin-right: 5px
}

.panoHeroTextContainer .panoHeroSnippet {
    max-height: 60px;
    margin-top: 10px;
    padding-top: 0;
    padding-bottom: 0;
    font: 400 14.66667px/20px "Segoe UI", Tahoma;
    letter-spacing: .02em
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(zh-hans, zh-hant, ja, ko) {
    max-height: 75px
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(kn, ta, pa) {
    padding-top: 3px;
    padding-bottom: 3px
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(ja, te, km) {
    padding-bottom: 2px
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(si) {
    padding-bottom: 1px;
    font: 400 16.33px/19px "Iskoola Pota", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm) {
    font: 400 15.33px/20px "Segoe UI", Tahoma
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(zh-hans) {
    font: 400 15px/26px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(zh-hant) {
    font: 400 15px/26px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(gu, te, as, bn-BD, bn-IN) {
    font: 400 14.66667px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(hi, mr, knn-Deva, ne, kok, or) {
    font: 400 14.66px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(ja) {
    font: 400 15.33px/24px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(kn) {
    font: 400 14.66px/20px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(ko) {
    font: 400 14.66667px/24px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(ml) {
    font: 400 14.5px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(ta) {
    font: 400 14.66px/20px "Latha", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(th) {
    font: 400 14.66667px/20px "Leelawadee", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(am, ti) {
    font: 400 14.66667px/20px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(km) {
    font: 400 15.5px/20px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet:-ms-lang(pa) {
    font: 400 14.66px/20px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p {
    padding-top: 0;
    padding-bottom: 0;
    font: 400 14.66667px/20px "Segoe UI", Tahoma;
    letter-spacing: .02em
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(kn, ta, pa) {
    padding-top: 3px;
    padding-bottom: 3px
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(ja, te, km) {
    padding-bottom: 2px
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(si) {
    padding-bottom: 1px;
    font: 400 16.33px/19px "Iskoola Pota", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm) {
    font: 400 15.33px/20px "Segoe UI", Tahoma
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(zh-hans) {
    font: 400 15px/26px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(zh-hant) {
    font: 400 15px/26px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(gu, te, as, bn-BD, bn-IN) {
    font: 400 14.66667px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(hi, mr, knn-Deva, ne, kok, or) {
    font: 400 14.66px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(ja) {
    font: 400 15.33px/24px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(kn) {
    font: 400 14.66px/20px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(ko) {
    font: 400 14.66667px/24px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(ml) {
    font: 400 14.5px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(ta) {
    font: 400 14.66px/20px "Latha", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(th) {
    font: 400 14.66667px/20px "Leelawadee", "Segoe UI", sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(am, ti) {
    font: 400 14.66667px/20px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(km) {
    font: 400 15.5px/20px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.panoHeroTextContainer .panoHeroSnippet p:-ms-lang(pa) {
    font: 400 14.66px/20px "Segoe UI", "Raavi", Tahoma, sans-serif
}

@media screen and (max-width:870px) {
    .panoHeroTextContainer .panoHeroSnippet {
        display: none
    }
}

.iconSearch:before {
    content: ""
}

.iconAddFav:before {
    content: ""
}

.iconPlay:before {
    content: ""
}

.downloadLabel {
    color: #999;
    padding-top: 0;
    padding-bottom: 0;
    font: 600 12px/20px "Nirmala UI", "Segoe UI", sans-serif;
    letter-spacing: .02em;
    width: 80px;
    padding: 4px 4px 4px 0
}

.downloadLabel:-ms-lang(kn, ta, pa) {
    padding-top: 2px
}

.downloadLabel:-ms-lang(zh-hant, km) {
    padding-bottom: 1px
}

.downloadLabel:-ms-lang(ja, kn, ta, pa, si) {
    padding-bottom: 2px
}

.downloadLabel {
    font: 600 12px/20px "Segoe UI", Tahoma
}

.downloadLabel:-ms-lang(zh-hans) {
    font: 600 12.66px/20px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.downloadLabel:-ms-lang(zh-hant) {
    font: 600 13.66px/19px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.downloadLabel:-ms-lang(ja) {
    font: 600 12.66px/18px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.downloadLabel:-ms-lang(kn) {
    font: 600 12px/20px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.downloadLabel:-ms-lang(ko) {
    font: 600 12px/20px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.downloadLabel:-ms-lang(ta) {
    font: 600 12px/20px "Latha", "Segoe UI", sans-serif
}

.downloadLabel:-ms-lang(th) {
    font: 600 12px/20px "Leelawadee", "Segoe UI", sans-serif
}

.downloadLabel:-ms-lang(am, ti) {
    font: 600 12px/20px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.downloadLabel:-ms-lang(hy, ka) {
    font: 600 12.5px/20px "Segoe UI", Tahoma
}

.downloadLabel:-ms-lang(km) {
    font: 600 12.66px/20px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.downloadLabel:-ms-lang(pa) {
    font: 600 12px/20px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.downloadLabel:-ms-lang(si) {
    font: 600 14.5px/18px "Iskoola Pota", "Segoe UI", sans-serif
}

.downloadLabel:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    padding: 4px 0 4px 4px
}

.downloadProgress {
    width: 40px;
    background-color: #fff;
    height: 10px;
    border: #999;
    color: #999
}

.platformCluster[aria-labelledby*="NextSteps"] {
    background-color: #ddd;
    background-image: url('/common/images/Pattern_15x15.png');
    background-repeat: repeat
}

.platformCluster[aria-labelledby*="NextSteps"] {
    margin-right: 0
}

.platformCluster[aria-labelledby*="NextSteps"]:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    margin-left: 0
}

.nextSteps {
    width: auto
}

.nextSteps {
    margin-left: 44px
}

.nextSteps:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm, he) {
    margin-right: 44px
}

.mySourcesItemsContainer.win-listview .win-container:hover {
    outline: rgba(0, 0, 0, .13) solid 4px
}

.mySourcesItemsContainer {
    transform: translate(-10px, -10px);
    padding: 5px 5px 0 5px !important
}

.mySourcesItemsContainer.platformClusterContent .win-container {
    margin: 5px !important
}

.mySourcesItemsContainer .listView2EditButtonContainer {
    top: -21px !important
}

.mySourcesItemsContainer .listView2EditButtonContainer {
    background-color: transparent;
    border-color: #aaa
}

.mySourcesItemsContainer .listView2EditButtonContainer:hover {
    background-color: #e2e2e2
}

.mySourcesItemsContainer .listView2EditButtonContainer.inMode,
.mySourcesItemsContainer .listView2EditButtonContainer:hover:active {
    background-color: #999
}

.mySourcesItemsContainer .listView2EditButtonContainer.inMode:hover {
    background-color: #999
}

.mySourcesItemsContainer .listView2EditButton {
    color: #aaa
}

.mySourcesItemsContainer .listView2EditButton:hover {
    color: #aaa
}

.mySourcesItemsContainer .inMode .listView2EditButton {
    color: #fff
}

.mySourcesItemsContainer .listView2ItemDeleteButton:before {
    color: #fff
}

.mySourcesItemsContainer .listView2ItemDeleteButton:before:hover {
    color: #fff
}

.mySourcesItemsContainer .listView2ItemDeleteButton {
    background-color: #991d21
}

.mySourcesItemsContainer .listView2ItemDeleteButton:hover {
    background-color: #d1272c
}

.mySourcesItemsContainer .listView2ItemDeleteButton:active {
    background-color: #560d1f
}

.mySourcesItemsContainer .win-container {
    height: 90px
}

:not(.win-selectionstylefilled).mySourcesItemsContainer.CommonJSListView2 .win-selected.win-container .win-selectionborder,
:not(.win-selectionstylefilled).mySourcesItemsContainer.CommonJSListView2 .win-selected.win-container:hover .win-selectionborder {
    border-top-color: #991d21;
    border-left-color: #991d21;
    border-bottom-color: #991d21;
    border-right-color: #991d21
}

.mySourcesItem .todayMyItemsContainer {
    display: -ms-grid;
    -ms-grid-columns: auto 1fr;
    -ms-grid-rows: 1fr;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileImage {
    margin: 0;
    width: 90px
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer {
    margin: 10px 10px 10px 10px;
    -ms-grid-column: 2;
    overflow: hidden;
    -ms-grid-row-align: center;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 1fr;
    grid-column-start: 2;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle {
    color: #333;
    overflow: hidden;
    max-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    font: 600 14.66667px/20px "Segoe UI", Tahoma;
    letter-spacing: .02em
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(kn, ta, pa) {
    padding-top: 3px;
    padding-bottom: 3px
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(ja, te, km) {
    padding-bottom: 2px
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(si) {
    padding-bottom: 1px;
    font: 600 16.33px/19px "Iskoola Pota", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(ar, prs-Arab, fa, ur, ku-Arab, pa-Arab, sd-Arab, ug-Arab, qps-plocm) {
    font: 600 15.33px/20px "Segoe UI", Tahoma
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(zh-hans) {
    font: 600 15px/26px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(zh-hant) {
    font: 600 15px/26px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(gu, te, as, bn-BD, bn-IN) {
    font: 600 14.66667px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(hi, mr, knn-Deva, ne, kok, or) {
    font: 600 14.66px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(ja) {
    font: 600 15.33px/24px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(kn) {
    font: 600 14.66px/20px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(ko) {
    font: 600 14.66667px/24px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(ml) {
    font: 600 14.5px/20px "Nirmala UI", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(ta) {
    font: 600 14.66px/20px "Latha", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(th) {
    font: 600 14.66667px/20px "Leelawadee", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(am, ti) {
    font: 600 14.66667px/20px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(km) {
    font: 600 15.5px/20px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .todayMyItemsTileTitle:-ms-lang(pa) {
    font: 600 14.66px/20px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc {
    -ms-grid-row: 2;
    -ms-grid-row-align: start;
    color: #666;
    padding-top: 0;
    padding-bottom: 0;
    font: 400 12px/16px "Nirmala UI", "Segoe UI", sans-serif;
    letter-spacing: .02em;
    grid-row-start: 2;
    align-items: flex-start
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(kn, ta, pa) {
    padding-top: 2px
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(zh-hant, km) {
    padding-bottom: 1px
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(ja, kn, ta, pa, si) {
    padding-bottom: 2px
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc {
    font: 400 12px/16px "Segoe UI", Tahoma
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(zh-hans) {
    font: 400 12.66px/16px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(zh-hant) {
    font: 400 13.66px/16px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(ja) {
    font: 400 12.66px/16px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(kn) {
    font: 400 12px/16px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(ko) {
    font: 400 12px/16px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(ta) {
    font: 400 12px/16px "Latha", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(th) {
    font: 400 12px/16px "Leelawadee", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(am, ti) {
    font: 400 12px/16px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(hy, ka) {
    font: 400 12.5px/16px "Segoe UI", Tahoma
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(km) {
    font: 400 12.66px/16px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(pa) {
    font: 400 12px/16px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer .todayMyItemsTileTextContainer .sourceDesc:-ms-lang(si) {
    font: 400 14.5px/16px "Iskoola Pota", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss {
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    background-color: #333;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr
}

.mySourcesItem .todayMyItemsContainer.rss .image {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-row-start: 1;
    grid-column-start: 3
}

.mySourcesItem .todayMyItemsContainer.rss .title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row-align: end;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    font: 600 18px/26.66667px "Segoe UI", Tahoma;
    letter-spacing: .02em;
    padding: 15px 15px;
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: span 3;
    align-items: flex-end
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(zh-hans) {
    font: 600 18px/28.5px "Segoe UI", "Microsoft YaHei UI", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(zh-hant) {
    font: 600 18px/28.5px "Segoe UI", "Microsoft JhengHei UI", Tahoma, Verdana, Arial, sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(gu, hi, mr, knn-Deva, ne, kok, ml, te, as, bn-BD, bn-IN, or) {
    font: 600 18px/26.66667px "Nirmala UI", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(ja) {
    font: 600 18px/28.5px "Segoe UI", "Meiryo UI", Tahoma, Verdana, Arial, sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(kn) {
    font: 600 18px/26.66667px "Segoe UI", "Tunga", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(ko) {
    font: 600 18px/28px "Segoe UI", "Malgun Gothic", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(ta) {
    font: 600 18px/26.66667px "Latha", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(th) {
    font: 600 18px/26.66667px "Leelawadee", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(am, ti) {
    font: 600 18px/26.66667px "Segoe UI", "Ebrima", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(km) {
    font: 600 18px/26.66667px "Khmer UI", "Segoe UI", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(pa) {
    font: 600 18px/26.66667px "Segoe UI", "Raavi", Tahoma, sans-serif
}

.mySourcesItem .todayMyItemsContainer.rss .title:-ms-lang(si) {
    font: 600 18px/26.66667px "Iskoola Pota", "Segoe UI", sans-serif
}

.mySourcesItem .todayMyItemsContainer,
.mySourcesItem .addTileMyItems {
    width: 290px;
    height: 90px
}